<table>
  <tbody>
    <tr>
      <th>Elasticsearch REST endpoint</th>
      <td>
        <input type="text" id="elasticsearch_rest_endpoint" 
                           value="<%= settings['elasticsearch_rest_endpoint'] %>" 
                           name="settings[elasticsearch_rest_endpoint]" >
      </td>
    </tr>
  </tbody>
</table>
